* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.3em;
  font-weight: normal;
}

body {
  height: 100vh;
  background: rgba(228, 226, 184, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchrt MS", Arial, sans-serif;
  #root {
    width: 100%;
    padding: 1.3em;
    .app {
      background: white;
      box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px, rgba(0, 0, 0, 0.05) 0 0 0 1px;
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      width: 100%;
      min-height: 90vh;
      .list_header {
        color: rgba(0, 0, 0, 0.65);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 25px 25px 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        .buttons_container {
          display: flex;
          gap: 0.15em;
          .button {
            font-family: "Raleway", sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.15);
            color: white;
            font-size: 0.65em;
            font-weight: 700;
            padding: 0.7em 1em;
            border-radius: 0.4em;
            cursor: pointer;
            transition: background 0.5s ease-in;
            border: none;
            text-transform: uppercase;
            line-height: 1;
          }
          .create {
            background: rgba(37, 159, 138, 0.7);
          }
          .signout {
            background: rgba(230, 81, 105, 0.7);
          }
          .create:hover {
            background: rgb(37, 159, 138);
          }
          .signout:hover {
            background: rgb(230, 81, 105);
          }
        }
      }
      /* List Item */
      .list_item {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding: 15px 25px 25px;
        .info_container {
          display: flex;
          align-items: center;
          gap: 0.25em;
          svg {
            path {
              fill:none;
              stroke:#000;
              stroke-miterlimit:10;
              stroke-width:24px
            }
          }
          .title {
            color: rgba(0, 0, 0, 0.5);
          }
        }
        .buttons_container {
          display: flex;
          gap: 0.2em;
          .button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            outline: none;
            color: rgba(0, 0, 0, 0.45);
            background: none;
            border-radius: 0.3em;
            padding: 0.25em 0.5em;
            font-size: 0.75em;
            cursor: pointer;
            transition: all 0.5s ease-in;
          }
          .edit {
            color: rgba(37, 159, 138, 0.8);
          }
          .edit:hover {
            color: rgb(37, 159, 138);
            transform: scale(1.5);
          }
          .delete {
            color: rgba(230, 81, 105, 0.8);
          }
          .delete:hover {
            color: rgb(230, 81, 105);
            transform: scale(1.5);
          }
        }
      }
      /* Styles for Modal */
      .overlay {
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 3s ease-in;
        .modal {
          min-width: 330px;
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
          padding: 25px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          gap: 1.3em;
          .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
              font-size: 1em;
              color: rgba(0, 0, 0, 0.5);
            }
            .close {
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              svg {
                fill: rgba(230, 81, 105, 0.7);
                transition: 0.5s ease-in;
              }
              svg:hover {
                fill: rgba(230, 81, 105, 1)
              }
            }
          }
          .body {
            form {
              display: flex;
              flex-direction: column;
              gap: 0.75em;
              input {
                display: flex;
                width: 100%;
                border: 1.5px solid rgb(230, 232, 236);
                border-radius: 0.5em;
                padding: 0.5em 0.75em;
              }
              .input_group {
                display: flex;
                flex-direction: column;
                gap: 0.6em;
                label {
                  font-size: 0.85em;
                  color: rgba(0, 0, 0, 0.45);
                }
                .progress_bar {
                  appearance: none;
                  width: 100%;
                  height: 1px;
                  padding: 0;
                  background: rgba(37, 159, 138, 0.7);
                  outline: none;
                  opacity: 0.7;
                  -webkit-transition: .2s;
                  transition: opacity .2s;
                }
                .progress_bar::-webkit-slider-thumb {
                  -webkit-appearance: none;
                  appearance: none;
                  width: 5px;
                  height: 15px;
                  background: #04AA6D;
                  cursor: pointer;
                }

                .progress_bar::-moz-range-thumb {
                  width: 5px;
                  height: 15px;
                  background: #04AA6D;
                  cursor: pointer;
                }
              }

              input[type=submit] {
                cursor: pointer;
                width: max-content;
                background: rgba(37, 159, 138, 0.7);
                color: whitesmoke;
                font-weight: 500;
                transition: background 0.5s ease-in;
              }

              input[type=submit]:hover {
                background: rgba(37, 159, 138, 1);
              }
            }
          }
        }
      }
    }
  }
}
